<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kaguya document tree: record your life</title>
    <link th:href="@{/css/index.css}">
</head>
<body>
    <header th:replace="~{/layout/header :: header}"></header>

    <div class="container" style="height: 100%">
        <div>
            <h3 style="text-align: center">辉夜~</h3>
            <p>
                <a href="https://opensource.org/licenses/BSD-3-Clause">
                    <img alt="" src="https://img.shields.io/badge/license-BSD--3--Clause-blue.svg"/>
                </a>
            </p>
            <p>
                The name of kaguya comes from anime "かぐや様は告らせたい～天才たちの恋愛頭脳戦～", it means かぐや(輝夜) in Japanese.
                In fact, when I create this new project, I didn't think what to do. Maybe another Web System. This project may be my last time to write web system. There is a long story, I know a little front end but have no long experience in writing front end. All the UI of my system need me to design, I often spend long time to toss one point or a place, I want to design a beautiful UI on my web system, but in the other hand I don't want to waste too much time in design. It's a disgusting thing to me for writing front end, I'm fun to design code or build a framework.
            </p>
            <p>
                Kaguya maybe is a simple daily web system, there is not administrator, there is not registration.It more likes a personal home, one note. You can record your daily life with pictures or words.There is your remmember, there is your life,there is your thinking, here is yours.It will be builded by Springboot and spring cloud, and use consul to resolve service discovery, use jekins for automation, use Fegin to resolve HTTP client binder, use Shiro and Cas to implement Single Sign-On, use RabbitMQ to implement Message Queue.
            </p>
            <p>
                <h2>License</h2>
                <a href="./LICENSE">BSD 3-Clause</a>
            </p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>

    <footer th:replace="~{/layout/footer :: footer}"></footer>
</body>
</html>